.dummypfclass {
    color: black;
}

.active-ctx {
    border-width: 2px;
}

.active-ctx.p1 {
    color: #fff;
    background-color: #ff3434;
    border-color: #7b0000;
}

.active-ctx.t1 {
    color: #fff;
    background-color: #1152e6;
    border-color: #031e5c;
}

.active-ctx.t2 {
    color: #fff;
    background-color: #17a2b8;
    border-color: #014751;
}

.active-ctx.i1 {
    color: #fff;
    background-color: #008e00;
    border-color: #002100;
}

.active-ctx.s2 {
    color: #fff;
    background-color: #ff8c14;
    border-color: #693600;
}

.active-ctx.e1 {
    color: #fff;
    background-color: #000;
    border-color: #454545;
}

.active-ctx.e2 {
    color: #fff;
    background-color: #000;
    border-color: #454545;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.status-pending {
  background-color: #337ab7;
  color: #fff;
}
