.cy {
    height: 500px;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

.jumbotron {
  text-align: center;
  color: #848484;
  background-color: #F2F2F2;
}

.contextrow {
  margin-right: 10px;
  margin-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

#profilefilter {
  border-right: 1px solid lightgray;
  padding-right: 10px;
}

.glyphicon-ok { cursor: pointer; }

/*.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
}*/
